In [1]:
#Import statements for pandas and numpy
import pandas as pd
import numpy as np

In [2]:
#Read data gathered from the scraping noteobook into a csv for cleaning 
renewables_data = pd.read_csv('renewables_data.csv')
renewables_data

####CODE USED FOR CLEANING#####
#type(renewables_data.iloc[0]['Date'])
#type(renewables_data.iloc[22813]['Date'])

,Unnamed: 0,Date,Hour,Geothermal,Biomass,Biogas,Small Hydro,Wind,Solar,Index,Solar_num
0,2,NaN,1,1056,323,170,250,632,0,2,0
1,3,NaN,2,1055,318,169,245,632,0,3,0
2,4,NaN,3,1058,316,168,240,677,0,4,0
3,5,NaN,4,1063,318,168,238,923,0,5,0
4,6,NaN,5,1066,318,168,247,875,0,6,0
5,7,NaN,6,1066,317,169,247,998,0,7,0
6,8,NaN,7,1066,312,166,244,763,0,8,0
7,9,NaN,8,1067,313,167,269,544,1,9,1
8,10,NaN,9,1065,315,169,280,572,191,10,191
9,11,NaN,10,1063,316,167,294,721,299,11,299
10,12,NaN,11,1063,314,169,294,658,278,12,278
11,13,NaN,12,1066,317,171,271,772,198,13,198
12,14,NaN,13,1068,324,171,270,1012,126,14,126
13,15,NaN,14,1066,322,169,282,1350,139,15,139
14,16,NaN,15,1067,326,170,292,1489,111,16,111
15,17,NaN,16,1070,324,160,294,1475,39,17,39
16,18,NaN,17,1071,320,147,295,1518,25,18,25
17,19,NaN,18,1070,320,148,297,1511,3,19,3
18,20,NaN,19,1070,314,153,302,1356,0,20,0
19,21,NaN,20,1072,299,151,305,1083,0,21,0
20,22,NaN,21,1072,300,124,307,1126,0,22,0
21,23,NaN,22,1071,277,123,297,1024,0,23,0
22,24,NaN,23,1071,284,126,266,1017,0,24,0
23,25,NaN,24,1072,284,140,245,1018,0,25,0
24,56,NaN,1,1072,285,145,253,1055,0,2,0
25,57,NaN,2,1072,280,142,253,938,0,3,0
26,58,NaN,3,1072,277,153,254,864,0,4,0
27,59,NaN,4,1073,275,167,255,828,0,5,0
28,60,NaN,5,1074,282,164,263,843,0,6,0
29,61,NaN,6,1074,286,163,274,850,0,7,0
...,...,...,...,...,...,...,...,...,...,...,...
22806,51308,NaN,18,2928,2239,16505,6758,2622,NaN,8,0
22807,51309,NaN,19,2925,2240,16105,7221,2572,NaN,9,0
22808,51310,NaN,20,2917,2240,15448,7423,2542,NaN,10,0
22809,51311,NaN,21,3155,2240,14137,7683,2404,NaN,11,0
22810,51312,NaN,22,3055,2242,13259,7265,2061,NaN,12,0
22811,51313,NaN,23,2951,2243,11561,7007,1868,NaN,13,0
22812,51314,NaN,24,3079,2242,10166,5904,1879,NaN,14,0
22813,51315,</p></body></html><html><body><p>11/30/12,NaN,Hourly Breakdown of Renewable Resources,NaN,NaN,NaN,NaN,NaN,15,0
22814,51316,NaN,Hour,GEOTHERMAL,NaN,NaN,WIND TOTAL,NaN,NaN,16,0
22815,51317,NaN,1,916,351,195,270,1561,0,17,0
22816,51318,NaN,2,915,355,200,233,1662,0,18,0
22817,51319,NaN,3,915,360,197,228,1770,0,19,0
22818,51320,NaN,4,917,350,198,224,1794,0,20,0
22819,51321,NaN,5,918,340,201,231,1526,0,21,0
22820,51322,NaN,6,918,340,203,279,1034,0,22,0
22821,51323,NaN,7,918,338,202,283,896,6,23,6
22822,51324,NaN,8,917,337,198,287,807,124,24,124
22823,51325,NaN,9,914,328,194,290,838,282,25,282
22824,51356,NaN,12,3734,2244,13444,7743,1916,NaN,2,0
22825,51357,NaN,13,3801,2242,12950,7943,1877,NaN,3,0
22826,51358,NaN,14,3903,2241,12785,7606,1878,NaN,4,0
22827,51359,NaN,15,3566,2240,13951,6210,1926,NaN,5,0
22828,51360,NaN,16,3238,2237,13618,6741,1951,NaN,6,0
22829,51361,NaN,17,2962,2236,14851,6611,2034,NaN,7,0
22830,51362,NaN,18,2690,2237,16175,7281,2262,NaN,8,0
22831,51363,NaN,19,2586,2238,16316,6807,2412,NaN,9,0
22832,51364,NaN,20,2642,2239,15716,6664,2286,NaN,10,0
22833,51365,NaN,21,2896,2240,13684,7498,2302,NaN,11,0
22834,51366,NaN,22,2862,2241,12663,7195,2296,NaN,12,0
22835,51367,NaN,23,2991,2242,11170,6655,2329,NaN,13,0

In [3]:
#####This code was used to understand the types of the values in the columns####

#renewables_data_cleaned = renewables_data[renewables_data['Date'].map(type) != str]
#renewables_data_cleaned

In [4]:
#####This code was used to understand the types of the values in the columns####
print(type(pd.to_numeric(renewables_data.iloc[22814]['Geothermal'], errors='ignore')))
print(type(renewables_data.iloc[0]['Geothermal']))
print(type(renewables_data.iloc[22814]['Geothermal']))

<class 'str'>
<class 'str'>
<class 'str'>

In [5]:
#Creation of new geothermal array with all numbers in string format converted to numpy.int64 format 
#All erroneous values were left as they were which allowed for data cleaning later

new_geothermal_array = []
for i in range(len(renewables_data['Geothermal'])):
    new_geothermal_array.append(pd.to_numeric(renewables_data.iloc[i]['Geothermal'], errors='ignore'))
    
print(type(new_geothermal_array[0]))
print(type(new_geothermal_array[22814]))

<class 'numpy.int64'>
<class 'str'>

In [6]:
#These print statements were used to understand the type of values in the other data columns to see if they needed 
#conversions similar to the Geothermal column as done above

print("Biomass data type: ", type(renewables_data.iloc[0]['Biomass']))
print("Biogas data type: ", type(renewables_data.iloc[0]['Biogas']))
print("Small Hydro data type: ", type(renewables_data.iloc[0]['Small Hydro']))
print("Wind data type: ", type(renewables_data.iloc[0]['Wind']))
print("Solar data type: ", type(renewables_data.iloc[0]['Solar']))

Biomass data type:  <class 'str'>
Biogas data type:  <class 'str'>
Small Hydro data type:  <class 'str'>
Wind data type:  <class 'str'>
Solar data type:  <class 'str'>

In [7]:
#Creation of new biomass array with all numbers in string format converted to numpy.int64 format 
#All erroneous values were left as they were which allowed for data cleaning later

new_biomass_array = []
for i in range(len(renewables_data['Biomass'])):
    new_biomass_array.append(pd.to_numeric(renewables_data.iloc[i]['Biomass'], errors='ignore'))
    
print(type(new_biomass_array[0]))
print(type(new_biomass_array[22814]))

<class 'numpy.int64'>
<class 'float'>

In [8]:
#Creation of new biomgas array with all numbers in string format converted to numpy.int64 format 
#All erroneous values were left as they were which allowed for data cleaning later

new_biogas_array = []
for i in range(len(renewables_data['Biogas'])):
    new_biogas_array.append(pd.to_numeric(renewables_data.iloc[i]['Biogas'], errors='ignore'))
    
print(type(new_biogas_array[0]))
print(type(new_biogas_array[22814]))

<class 'numpy.int64'>
<class 'float'>

In [9]:
#Creation of new small hydro array with all numbers in string format converted to numpy.int64 format 
#All erroneous values were left as they were which allowed for data cleaning later

new_smallHydro_array = []
for i in range(len(renewables_data['Small Hydro'])):
    new_smallHydro_array.append(pd.to_numeric(renewables_data.iloc[i]['Small Hydro'], errors='ignore'))
    
print(type(new_smallHydro_array[0]))
print(type(new_smallHydro_array[22814]))

<class 'numpy.int64'>
<class 'str'>

In [10]:
#Creation of new wind array with all numbers in string format converted to numpy.int64 format 
#All erroneous values were left as they were which allowed for data cleaning later

new_wind_array = []
for i in range(len(renewables_data['Wind'])):
    new_wind_array.append(pd.to_numeric(renewables_data.iloc[i]['Wind'], errors='ignore'))
    
print(type(new_wind_array[0]))
print(type(new_wind_array[22814]))

<class 'numpy.int64'>
<class 'float'>

In [11]:
#Creation of new Solar array with all numbers in string format converted to numpy.int64 format 
#All erroneous values were left as they were which allowed for data cleaning later

new_solar_array = []
for i in range(len(renewables_data['Solar'])):
    new_solar_array.append(pd.to_numeric(renewables_data.iloc[i]['Solar'], errors='ignore'))
    
print(type(new_solar_array[0]))
print(type(new_solar_array[22814]))

<class 'numpy.int64'>
<class 'float'>

In [12]:
#Checking length of each array post-processed to see if they would fit into the renewables_data dataframe

print("Checking length of Geothermal array: ", len(new_geothermal_array))
print("Checking length of Biomass array: ", len(new_biomass_array))
print("Checking length of Biogas array: ", len(new_biogas_array))
print("Checking length of Small Hydro array: ", len(new_smallHydro_array))
print("Checking length of Wind array: ", len(new_wind_array))
print("Checking length of Solar array: ", len(new_solar_array))

Checking length of Geothermal array:  22836
Checking length of Biomass array:  22836
Checking length of Biogas array:  22836
Checking length of Small Hydro array:  22836
Checking length of Wind array:  22836
Checking length of Solar array:  22836

In [13]:
#Dropping all of the previous feature columns since they contained numbers in string format instead of in numerical formats
#Also dropping useless columns created during datascraping and initial cleaning

renewables_data = renewables_data.drop('Geothermal', axis=1)
renewables_data = renewables_data.drop('Biomass', axis=1)
renewables_data = renewables_data.drop('Biogas', axis=1)
renewables_data = renewables_data.drop('Small Hydro', axis=1)
renewables_data = renewables_data.drop('Wind', axis=1)
renewables_data = renewables_data.drop('Solar', axis=1)
renewables_data = renewables_data.drop('Index', axis=1)
renewables_data = renewables_data.drop('Solar_num', axis=1)
renewables_data

       Unnamed: 0                                       Date  Hour
0               2                                        NaN     1
1               3                                        NaN     2
2               4                                        NaN     3
3               5                                        NaN     4
4               6                                        NaN     5
5               7                                        NaN     6
6               8                                        NaN     7
7               9                                        NaN     8
8              10                                        NaN     9
9              11                                        NaN    10
10             12                                        NaN    11
11             13                                        NaN    12
12             14                                        NaN    13
13             15                                        NaN    14
14             16                                        NaN    15
15             17                                        NaN    16
16             18                                        NaN    17
17             19                                        NaN    18
18             20                                        NaN    19
19             21                                        NaN    20
20             22                                        NaN    21
21             23                                        NaN    22
22             24                                        NaN    23
23             25                                        NaN    24
24             56                                        NaN     1
25             57                                        NaN     2
26             58                                        NaN     3
27             59                                        NaN     4
28             60                                        NaN     5
29             61                                        NaN     6
...           ...                                        ...   ...
22806       51308                                        NaN    18
22807       51309                                        NaN    19
22808       51310                                        NaN    20
22809       51311                                        NaN    21
22810       51312                                        NaN    22
22811       51313                                        NaN    23
22812       51314                                        NaN    24
22813       51315  </p></body></html><html><body><p>11/30/12   NaN
22814       51316                                        NaN  Hour
22815       51317                                        NaN     1
22816       51318                                        NaN     2
22817       51319                                        NaN     3
22818       51320                                        NaN     4
22819       51321                                        NaN     5
22820       51322                                        NaN     6
22821       51323                                        NaN     7
22822       51324                                        NaN     8
22823       51325                                        NaN     9
22824       51356                                        NaN    12
22825       51357                                        NaN    13
22826       51358                                        NaN    14
22827       51359                                        NaN    15
22828       51360                                        NaN    16
22829       51361                                        NaN    17
22830       51362                                        NaN    18
22831       51363                                        NaN    19
22832       51364                                        NaN    20
22833       51365                                        NaN    21
22834       51366                                        NaN    22
22835       51367                                        NaN    23

[22836 rows x 3 columns]

In [14]:
#Assigning new feature columns to be the post-processing arrays with numbers in proper numerical format
#Also contains erroneous values in their original format allowing for distinction and cleaning

renewables_data['Geothermal'] = pd.Series(new_geothermal_array)
renewables_data['Biomass'] = pd.Series(new_biomass_array)
renewables_data['Biogas'] = pd.Series(new_biogas_array)
renewables_data['Small Hydro'] = pd.Series(new_smallHydro_array)
renewables_data['Wind'] = pd.Series(new_wind_array)
renewables_data['Solar'] = pd.Series(new_solar_array)

In [15]:
#Checking results of processing and adding to dataframe
type(renewables_data.iloc[0]['Geothermal'])

numpy.int64

In [16]:
#Cleaning of dataframe by removing erroneous values in two steps 
#First the values in the 'Date' column which were not strings (i.e. those which were NaN values are kept), dropping the erroneous ones
#Then the values in the Other columns which are in the format np.int64 are kept, dropping the string values which are erroneous

renewables_data_cleaned = renewables_data[renewables_data['Date'].map(type) != str]
renewables_data_cleaned = renewables_data_cleaned[renewables_data_cleaned['Geothermal'].map(type) == np.int64]
renewables_data_cleaned = renewables_data_cleaned[renewables_data_cleaned['Biogas'].map(type) == np.int64]
renewables_data_cleaned = renewables_data_cleaned[renewables_data_cleaned['Small Hydro'].map(type) == np.int64]
renewables_data_cleaned = renewables_data_cleaned[renewables_data_cleaned['Wind'].map(type) == np.int64]
renewables_data_cleaned

       Unnamed: 0 Date Hour Geothermal Biomass Biogas Small Hydro  Wind Solar
0               2  NaN    1       1056     323    170         250   632     0
1               3  NaN    2       1055     318    169         245   632     0
2               4  NaN    3       1058     316    168         240   677     0
3               5  NaN    4       1063     318    168         238   923     0
4               6  NaN    5       1066     318    168         247   875     0
5               7  NaN    6       1066     317    169         247   998     0
6               8  NaN    7       1066     312    166         244   763     0
7               9  NaN    8       1067     313    167         269   544     1
8              10  NaN    9       1065     315    169         280   572   191
9              11  NaN   10       1063     316    167         294   721   299
10             12  NaN   11       1063     314    169         294   658   278
11             13  NaN   12       1066     317    171         271   772   198
12             14  NaN   13       1068     324    171         270  1012   126
13             15  NaN   14       1066     322    169         282  1350   139
14             16  NaN   15       1067     326    170         292  1489   111
15             17  NaN   16       1070     324    160         294  1475    39
16             18  NaN   17       1071     320    147         295  1518    25
17             19  NaN   18       1070     320    148         297  1511     3
18             20  NaN   19       1070     314    153         302  1356     0
19             21  NaN   20       1072     299    151         305  1083     0
20             22  NaN   21       1072     300    124         307  1126     0
21             23  NaN   22       1071     277    123         297  1024     0
22             24  NaN   23       1071     284    126         266  1017     0
23             25  NaN   24       1072     284    140         245  1018     0
24             56  NaN    1       1072     285    145         253  1055     0
25             57  NaN    2       1072     280    142         253   938     0
26             58  NaN    3       1072     277    153         254   864     0
27             59  NaN    4       1073     275    167         255   828     0
28             60  NaN    5       1074     282    164         263   843     0
29             61  NaN    6       1074     286    163         274   850     0
...           ...  ...  ...        ...     ...    ...         ...   ...   ...
22804       51306  NaN   16       3374    2240  13205        6755  2201   NaN
22805       51307  NaN   17       2987    2239  14676        6561  2453   NaN
22806       51308  NaN   18       2928    2239  16505        6758  2622   NaN
22807       51309  NaN   19       2925    2240  16105        7221  2572   NaN
22808       51310  NaN   20       2917    2240  15448        7423  2542   NaN
22809       51311  NaN   21       3155    2240  14137        7683  2404   NaN
22810       51312  NaN   22       3055    2242  13259        7265  2061   NaN
22811       51313  NaN   23       2951    2243  11561        7007  1868   NaN
22812       51314  NaN   24       3079    2242  10166        5904  1879   NaN
22815       51317  NaN    1        916     351    195         270  1561     0
22816       51318  NaN    2        915     355    200         233  1662     0
22817       51319  NaN    3        915     360    197         228  1770     0
22818       51320  NaN    4        917     350    198         224  1794     0
22819       51321  NaN    5        918     340    201         231  1526     0
22820       51322  NaN    6        918     340    203         279  1034     0
22821       51323  NaN    7        918     338    202         283   896     6
22822       51324  NaN    8        917     337    198         287   807   124
22823       51325  NaN    9        914     328    194         290   838   282
22824       51356  NaN   12       3734    2244  13444        7743  1916   NaN
22825       51357  NaN   13       3801    2242  12950        7943  1877   NaN
22826       51358  NaN   14       3903    2241  12785        7606  1878   NaN
22827       51359  NaN   15       3566    2240  13951        6210  1926   NaN
22828       51360  NaN   16       3238    2237  13618        6741  1951   NaN
22829       51361  NaN   17       2962    2236  14851        6611  2034   NaN
22830       51362  NaN   18       2690    2237  16175        7281  2262   NaN
22831       51363  NaN   19       2586    2238  16316        6807  2412   NaN
22832       51364  NaN   20       2642    2239  15716        6664  2286   NaN
22833       51365  NaN   21       2896    2240  13684        7498  2302   NaN
22834       51366  NaN   22       2862    2241  12663        7195  2296   NaN
22835       51367  NaN   23       2991    2242  11170        6655  2329   NaN

[21112 rows x 9 columns]

In [17]:
#Dropping of the Date column which is full of NaN values erroneously
#Dropping of the first column which is unnamed and contains outdated indexing

renewables_data_cleaned = renewables_data_cleaned.drop('Date', axis=1)
renewables_data_cleaned = renewables_data_cleaned.drop('Unnamed: 0', axis = 1)

In [18]:
#renewables_data_cleaned

In [19]:
#dates = pd.date_range('4/20/2010 00:00', periods=21134, freq = 'H')
#len(dates)

In [20]:
#renewables_data_cleaned["Date"] = pd.Series(dates)
#renewables_data_cleaned

In [21]:
#resetting index values of the dataframe to match new datasize after processing and cleaning

renewables_data_cleaned = renewables_data_cleaned.reset_index()
renewables_data_cleaned

       index Hour Geothermal Biomass Biogas Small Hydro  Wind Solar
0          0    1       1056     323    170         250   632     0
1          1    2       1055     318    169         245   632     0
2          2    3       1058     316    168         240   677     0
3          3    4       1063     318    168         238   923     0
4          4    5       1066     318    168         247   875     0
5          5    6       1066     317    169         247   998     0
6          6    7       1066     312    166         244   763     0
7          7    8       1067     313    167         269   544     1
8          8    9       1065     315    169         280   572   191
9          9   10       1063     316    167         294   721   299
10        10   11       1063     314    169         294   658   278
11        11   12       1066     317    171         271   772   198
12        12   13       1068     324    171         270  1012   126
13        13   14       1066     322    169         282  1350   139
14        14   15       1067     326    170         292  1489   111
15        15   16       1070     324    160         294  1475    39
16        16   17       1071     320    147         295  1518    25
17        17   18       1070     320    148         297  1511     3
18        18   19       1070     314    153         302  1356     0
19        19   20       1072     299    151         305  1083     0
20        20   21       1072     300    124         307  1126     0
21        21   22       1071     277    123         297  1024     0
22        22   23       1071     284    126         266  1017     0
23        23   24       1072     284    140         245  1018     0
24        24    1       1072     285    145         253  1055     0
25        25    2       1072     280    142         253   938     0
26        26    3       1072     277    153         254   864     0
27        27    4       1073     275    167         255   828     0
28        28    5       1074     282    164         263   843     0
29        29    6       1074     286    163         274   850     0
...      ...  ...        ...     ...    ...         ...   ...   ...
21082  22804   16       3374    2240  13205        6755  2201   NaN
21083  22805   17       2987    2239  14676        6561  2453   NaN
21084  22806   18       2928    2239  16505        6758  2622   NaN
21085  22807   19       2925    2240  16105        7221  2572   NaN
21086  22808   20       2917    2240  15448        7423  2542   NaN
21087  22809   21       3155    2240  14137        7683  2404   NaN
21088  22810   22       3055    2242  13259        7265  2061   NaN
21089  22811   23       2951    2243  11561        7007  1868   NaN
21090  22812   24       3079    2242  10166        5904  1879   NaN
21091  22815    1        916     351    195         270  1561     0
21092  22816    2        915     355    200         233  1662     0
21093  22817    3        915     360    197         228  1770     0
21094  22818    4        917     350    198         224  1794     0
21095  22819    5        918     340    201         231  1526     0
21096  22820    6        918     340    203         279  1034     0
21097  22821    7        918     338    202         283   896     6
21098  22822    8        917     337    198         287   807   124
21099  22823    9        914     328    194         290   838   282
21100  22824   12       3734    2244  13444        7743  1916   NaN
21101  22825   13       3801    2242  12950        7943  1877   NaN
21102  22826   14       3903    2241  12785        7606  1878   NaN
21103  22827   15       3566    2240  13951        6210  1926   NaN
21104  22828   16       3238    2237  13618        6741  1951   NaN
21105  22829   17       2962    2236  14851        6611  2034   NaN
21106  22830   18       2690    2237  16175        7281  2262   NaN
21107  22831   19       2586    2238  16316        6807  2412   NaN
21108  22832   20       2642    2239  15716        6664  2286   NaN
21109  22833   21       2896    2240  13684        7498  2302   NaN
21110  22834   22       2862    2241  12663        7195  2296   NaN
21111  22835   23       2991    2242  11170        6655  2329   NaN

[21112 rows x 8 columns]

In [22]:
#droping previous, outdated index column

renewables_data_cleaned = renewables_data_cleaned.drop('index', axis=1)
renewables_data_cleaned

      Hour Geothermal Biomass Biogas Small Hydro  Wind Solar
0        1       1056     323    170         250   632     0
1        2       1055     318    169         245   632     0
2        3       1058     316    168         240   677     0
3        4       1063     318    168         238   923     0
4        5       1066     318    168         247   875     0
5        6       1066     317    169         247   998     0
6        7       1066     312    166         244   763     0
7        8       1067     313    167         269   544     1
8        9       1065     315    169         280   572   191
9       10       1063     316    167         294   721   299
10      11       1063     314    169         294   658   278
11      12       1066     317    171         271   772   198
12      13       1068     324    171         270  1012   126
13      14       1066     322    169         282  1350   139
14      15       1067     326    170         292  1489   111
15      16       1070     324    160         294  1475    39
16      17       1071     320    147         295  1518    25
17      18       1070     320    148         297  1511     3
18      19       1070     314    153         302  1356     0
19      20       1072     299    151         305  1083     0
20      21       1072     300    124         307  1126     0
21      22       1071     277    123         297  1024     0
22      23       1071     284    126         266  1017     0
23      24       1072     284    140         245  1018     0
24       1       1072     285    145         253  1055     0
25       2       1072     280    142         253   938     0
26       3       1072     277    153         254   864     0
27       4       1073     275    167         255   828     0
28       5       1074     282    164         263   843     0
29       6       1074     286    163         274   850     0
...    ...        ...     ...    ...         ...   ...   ...
21082   16       3374    2240  13205        6755  2201   NaN
21083   17       2987    2239  14676        6561  2453   NaN
21084   18       2928    2239  16505        6758  2622   NaN
21085   19       2925    2240  16105        7221  2572   NaN
21086   20       2917    2240  15448        7423  2542   NaN
21087   21       3155    2240  14137        7683  2404   NaN
21088   22       3055    2242  13259        7265  2061   NaN
21089   23       2951    2243  11561        7007  1868   NaN
21090   24       3079    2242  10166        5904  1879   NaN
21091    1        916     351    195         270  1561     0
21092    2        915     355    200         233  1662     0
21093    3        915     360    197         228  1770     0
21094    4        917     350    198         224  1794     0
21095    5        918     340    201         231  1526     0
21096    6        918     340    203         279  1034     0
21097    7        918     338    202         283   896     6
21098    8        917     337    198         287   807   124
21099    9        914     328    194         290   838   282
21100   12       3734    2244  13444        7743  1916   NaN
21101   13       3801    2242  12950        7943  1877   NaN
21102   14       3903    2241  12785        7606  1878   NaN
21103   15       3566    2240  13951        6210  1926   NaN
21104   16       3238    2237  13618        6741  1951   NaN
21105   17       2962    2236  14851        6611  2034   NaN
21106   18       2690    2237  16175        7281  2262   NaN
21107   19       2586    2238  16316        6807  2412   NaN
21108   20       2642    2239  15716        6664  2286   NaN
21109   21       2896    2240  13684        7498  2302   NaN
21110   22       2862    2241  12663        7195  2296   NaN
21111   23       2991    2242  11170        6655  2329   NaN

[21112 rows x 7 columns]

In [23]:
#Creating a new date column based on data format

dates = pd.date_range('4/20/2010 00:00', periods=21112, freq = 'H')
len(dates)

21112

In [24]:
#Adding above created date column to the renewables_data_cleaned dataframe

renewables_data_cleaned["Date"] = pd.Series(dates)
renewables_data_cleaned

,Hour,Geothermal,Biomass,Biogas,Small Hydro,Wind,Solar,Date
0,1,1056,323,170,250,632,0,2010-04-20 00:00:00
1,2,1055,318,169,245,632,0,2010-04-20 01:00:00
2,3,1058,316,168,240,677,0,2010-04-20 02:00:00
3,4,1063,318,168,238,923,0,2010-04-20 03:00:00
4,5,1066,318,168,247,875,0,2010-04-20 04:00:00
5,6,1066,317,169,247,998,0,2010-04-20 05:00:00
6,7,1066,312,166,244,763,0,2010-04-20 06:00:00
7,8,1067,313,167,269,544,1,2010-04-20 07:00:00
8,9,1065,315,169,280,572,191,2010-04-20 08:00:00
9,10,1063,316,167,294,721,299,2010-04-20 09:00:00
10,11,1063,314,169,294,658,278,2010-04-20 10:00:00
11,12,1066,317,171,271,772,198,2010-04-20 11:00:00
12,13,1068,324,171,270,1012,126,2010-04-20 12:00:00
13,14,1066,322,169,282,1350,139,2010-04-20 13:00:00
14,15,1067,326,170,292,1489,111,2010-04-20 14:00:00
15,16,1070,324,160,294,1475,39,2010-04-20 15:00:00
16,17,1071,320,147,295,1518,25,2010-04-20 16:00:00
17,18,1070,320,148,297,1511,3,2010-04-20 17:00:00
18,19,1070,314,153,302,1356,0,2010-04-20 18:00:00
19,20,1072,299,151,305,1083,0,2010-04-20 19:00:00
20,21,1072,300,124,307,1126,0,2010-04-20 20:00:00
21,22,1071,277,123,297,1024,0,2010-04-20 21:00:00
22,23,1071,284,126,266,1017,0,2010-04-20 22:00:00
23,24,1072,284,140,245,1018,0,2010-04-20 23:00:00
24,1,1072,285,145,253,1055,0,2010-04-21 00:00:00
25,2,1072,280,142,253,938,0,2010-04-21 01:00:00
26,3,1072,277,153,254,864,0,2010-04-21 02:00:00
27,4,1073,275,167,255,828,0,2010-04-21 03:00:00
28,5,1074,282,164,263,843,0,2010-04-21 04:00:00
29,6,1074,286,163,274,850,0,2010-04-21 05:00:00
...,...,...,...,...,...,...,...,...
21082,16,3374,2240,13205,6755,2201,NaN,2012-09-14 10:00:00
21083,17,2987,2239,14676,6561,2453,NaN,2012-09-14 11:00:00
21084,18,2928,2239,16505,6758,2622,NaN,2012-09-14 12:00:00
21085,19,2925,2240,16105,7221,2572,NaN,2012-09-14 13:00:00
21086,20,2917,2240,15448,7423,2542,NaN,2012-09-14 14:00:00
21087,21,3155,2240,14137,7683,2404,NaN,2012-09-14 15:00:00
21088,22,3055,2242,13259,7265,2061,NaN,2012-09-14 16:00:00
21089,23,2951,2243,11561,7007,1868,NaN,2012-09-14 17:00:00
21090,24,3079,2242,10166,5904,1879,NaN,2012-09-14 18:00:00
21091,1,916,351,195,270,1561,0,2012-09-14 19:00:00
21092,2,915,355,200,233,1662,0,2012-09-14 20:00:00
21093,3,915,360,197,228,1770,0,2012-09-14 21:00:00
21094,4,917,350,198,224,1794,0,2012-09-14 22:00:00
21095,5,918,340,201,231,1526,0,2012-09-14 23:00:00
21096,6,918,340,203,279,1034,0,2012-09-15 00:00:00
21097,7,918,338,202,283,896,6,2012-09-15 01:00:00
21098,8,917,337,198,287,807,124,2012-09-15 02:00:00
21099,9,914,328,194,290,838,282,2012-09-15 03:00:00
21100,12,3734,2244,13444,7743,1916,NaN,2012-09-15 04:00:00
21101,13,3801,2242,12950,7943,1877,NaN,2012-09-15 05:00:00
21102,14,3903,2241,12785,7606,1878,NaN,2012-09-15 06:00:00
21103,15,3566,2240,13951,6210,1926,NaN,2012-09-15 07:00:00
21104,16,3238,2237,13618,6741,1951,NaN,2012-09-15 08:00:00
21105,17,2962,2236,14851,6611,2034,NaN,2012-09-15 09:00:00
21106,18,2690,2237,16175,7281,2262,NaN,2012-09-15 10:00:00
21107,19,2586,2238,16316,6807,2412,NaN,2012-09-15 11:00:00
21108,20,2642,2239,15716,6664,2286,NaN,2012-09-15 12:00:00
21109,21,2896,2240,13684,7498,2302,NaN,2012-09-15 13:00:00
21110,22,2862,2241,12663,7195,2296,NaN,2012-09-15 14:00:00
21111,23,2991,2242,11170,6655,2329,NaN,2012-09-15 15:00:00

In [25]:
#print for verification

renewables_data_cleaned

,Hour,Geothermal,Biomass,Biogas,Small Hydro,Wind,Solar,Date
0,1,1056,323,170,250,632,0,2010-04-20 00:00:00
1,2,1055,318,169,245,632,0,2010-04-20 01:00:00
2,3,1058,316,168,240,677,0,2010-04-20 02:00:00
3,4,1063,318,168,238,923,0,2010-04-20 03:00:00
4,5,1066,318,168,247,875,0,2010-04-20 04:00:00
5,6,1066,317,169,247,998,0,2010-04-20 05:00:00
6,7,1066,312,166,244,763,0,2010-04-20 06:00:00
7,8,1067,313,167,269,544,1,2010-04-20 07:00:00
8,9,1065,315,169,280,572,191,2010-04-20 08:00:00
9,10,1063,316,167,294,721,299,2010-04-20 09:00:00
10,11,1063,314,169,294,658,278,2010-04-20 10:00:00
11,12,1066,317,171,271,772,198,2010-04-20 11:00:00
12,13,1068,324,171,270,1012,126,2010-04-20 12:00:00
13,14,1066,322,169,282,1350,139,2010-04-20 13:00:00
14,15,1067,326,170,292,1489,111,2010-04-20 14:00:00
15,16,1070,324,160,294,1475,39,2010-04-20 15:00:00
16,17,1071,320,147,295,1518,25,2010-04-20 16:00:00
17,18,1070,320,148,297,1511,3,2010-04-20 17:00:00
18,19,1070,314,153,302,1356,0,2010-04-20 18:00:00
19,20,1072,299,151,305,1083,0,2010-04-20 19:00:00
20,21,1072,300,124,307,1126,0,2010-04-20 20:00:00
21,22,1071,277,123,297,1024,0,2010-04-20 21:00:00
22,23,1071,284,126,266,1017,0,2010-04-20 22:00:00
23,24,1072,284,140,245,1018,0,2010-04-20 23:00:00
24,1,1072,285,145,253,1055,0,2010-04-21 00:00:00
25,2,1072,280,142,253,938,0,2010-04-21 01:00:00
26,3,1072,277,153,254,864,0,2010-04-21 02:00:00
27,4,1073,275,167,255,828,0,2010-04-21 03:00:00
28,5,1074,282,164,263,843,0,2010-04-21 04:00:00
29,6,1074,286,163,274,850,0,2010-04-21 05:00:00
...,...,...,...,...,...,...,...,...
21082,16,3374,2240,13205,6755,2201,NaN,2012-09-14 10:00:00
21083,17,2987,2239,14676,6561,2453,NaN,2012-09-14 11:00:00
21084,18,2928,2239,16505,6758,2622,NaN,2012-09-14 12:00:00
21085,19,2925,2240,16105,7221,2572,NaN,2012-09-14 13:00:00
21086,20,2917,2240,15448,7423,2542,NaN,2012-09-14 14:00:00
21087,21,3155,2240,14137,7683,2404,NaN,2012-09-14 15:00:00
21088,22,3055,2242,13259,7265,2061,NaN,2012-09-14 16:00:00
21089,23,2951,2243,11561,7007,1868,NaN,2012-09-14 17:00:00
21090,24,3079,2242,10166,5904,1879,NaN,2012-09-14 18:00:00
21091,1,916,351,195,270,1561,0,2012-09-14 19:00:00
21092,2,915,355,200,233,1662,0,2012-09-14 20:00:00
21093,3,915,360,197,228,1770,0,2012-09-14 21:00:00
21094,4,917,350,198,224,1794,0,2012-09-14 22:00:00
21095,5,918,340,201,231,1526,0,2012-09-14 23:00:00
21096,6,918,340,203,279,1034,0,2012-09-15 00:00:00
21097,7,918,338,202,283,896,6,2012-09-15 01:00:00
21098,8,917,337,198,287,807,124,2012-09-15 02:00:00
21099,9,914,328,194,290,838,282,2012-09-15 03:00:00
21100,12,3734,2244,13444,7743,1916,NaN,2012-09-15 04:00:00
21101,13,3801,2242,12950,7943,1877,NaN,2012-09-15 05:00:00
21102,14,3903,2241,12785,7606,1878,NaN,2012-09-15 06:00:00
21103,15,3566,2240,13951,6210,1926,NaN,2012-09-15 07:00:00
21104,16,3238,2237,13618,6741,1951,NaN,2012-09-15 08:00:00
21105,17,2962,2236,14851,6611,2034,NaN,2012-09-15 09:00:00
21106,18,2690,2237,16175,7281,2262,NaN,2012-09-15 10:00:00
21107,19,2586,2238,16316,6807,2412,NaN,2012-09-15 11:00:00
21108,20,2642,2239,15716,6664,2286,NaN,2012-09-15 12:00:00
21109,21,2896,2240,13684,7498,2302,NaN,2012-09-15 13:00:00
21110,22,2862,2241,12663,7195,2296,NaN,2012-09-15 14:00:00
21111,23,2991,2242,11170,6655,2329,NaN,2012-09-15 15:00:00

In [26]:
#Checking results

print(type(renewables_data_cleaned.iloc[0]['Geothermal']))
print(type(renewables_data_cleaned.iloc[0]['Biomass']))
print(type(renewables_data_cleaned.iloc[0]['Biogas']))
print(type(renewables_data_cleaned.iloc[0]['Small Hydro']))
print(type(renewables_data_cleaned.iloc[0]['Wind']))
print(type(renewables_data_cleaned.iloc[0]['Solar']))

<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>

In [27]:
#Export data to csv for usage in model 

renewables_data_cleaned.to_csv('renewables_data.cleaned.csv')